.logo {
    border: unset;
    background-color: unset;
    padding: unset;
    z-index: 1;
}

.logo-img {
    width: 75px;
    height: 64px;
    background-color: #5988FF;
    display: block;
}

.header-links {
    gap: 1.5rem;
    font-family: 'Montserrat';
    a {
        width: 8rem;
        text-align: center;
        text-decoration: none;
        color: #5988FF;
        font-size: 1.5rem;
        &:hover {
            font-weight: 700;
        }
    }
}