*::after {
    box-sizing: border-box;
}

header {
    height: 100%;
    padding-block: 8px;
}

.blue-bg {
    background: radial-gradient(71.18% 335.57% at 28.82% -124.4%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
}

.logo {
    cursor: pointer;
}

.header-links {
    gap: 1.5rem;
    font-family: 'Montserrat';
}

.header-link {
    width: 8rem;
    text-align: center;
    text-decoration: none;
    color: #5988FF;
    font-size: 1.5rem;
    position: relative;
    &:hover {
        font-weight: 700;
    }
}

.header-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #5988FF;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 125ms ease-in;
}

.header-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.header-links-side {
    gap: 1.5rem;
    font-family: 'Montserrat';
    a {
        width: 8rem;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        position: relative;
        &:hover {
            font-weight: 700;
            &::after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: white;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 125ms ease-in;
        }
    }
}

button {
    background: transparent;
    border: none;
}

.vh-100 {
    height: 100vh;
}


/* button one */

.button-one {
    --button-color: #5988FF;
    display: none;
    padding: 0;
    margin: 0;
    height: 64px;
    cursor: pointer;
}

.button-one .line {
    transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
    transform-origin: center;
}

.button-one[aria-expanded="true"] .line {
    transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
}

.button-one[aria-expanded="true"] :is(.top, .bottom) {
    y: 45;
}

.button-one[aria-expanded="true"] .top {
    rotate: 45deg;
}

.button-one[aria-expanded="true"] .middle {
    opacity: 0;
}

.button-one[aria-expanded="true"] .bottom {
    rotate: -45deg;
}

.example-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    // height: 100vh;
    opacity: 0.9;
    overflow: hidden !important;
}

.position-menu {
    position: absolute;
    right: 0;
    z-index: 9999;
}

.responsive-menu {
    height: 100vh;
}

@media(min-width:2560px) {
    .header-links,
    .header-links-side {
        gap: 4rem;
    }
    .header-link {
        width: unset;
        font-size: calc(1.5rem + 1vh);
    }
}

@media(max-width: 1560px) and (min-height: 1280px),
(max-width: 1400px) and (min-height: 1080px) {
    .header-links,
    .header-links-side {
        display: none;
    }
    .button-one {
        display: unset;
    }
}