<header [class.blue-bg]="router.url === '/imprint' || router.url === '/privacy'">
    <div class="d-flex justify-content-between align-items-center wrapper">
        <button (click)="navigate('')" class="logo">
    <img class="logo-img" src="assets/img/logo.png">
</button>
        <div [class.header-links-side]="router.url === '/imprint' || router.url === '/privacy'" [class.header-links]="router.url !== '/imprint' && router.url !== '/privacy'" class="d-flex">
            <a class="header-link" href="#aboutMe">About me</a>
            <a class="header-link" href="#skillSet">Skill set</a>
            <a class="header-link" href="#myWork">My work</a>
        </div>
    </div>
</header>