<div class="about-me-bg">
    <div class="wrapper">
        <div class="ellipse-three"></div>
        <div class="about-me d-flex justify-content-between align-items-center">
            <div class="about-me-childs about-me-headlines">
                <h1 class="adapt-line-height">from DNA</h1>
                <h1 class="adapt-line-height">to JS code</h1>
            </div>
            <div class="about-me-childs d-flex flex-column align-items-center">
                <p>
                    I dig deep into JavaScript and TypeScript code and enjoy implementing new features into projects. <br> Furthermore, I like to put everything together into a good user experience program by helping designers bring their designs into
                    the web app.
                </p>
                <p class="">
                    From my molecular biological background, I bring in the passion of reading and engineering code, learning new techniques and standards, and getting detailed knowledge of complex systems. <br> It was a logical step for me to go for
                    a lateral entry when finding out I want to challenge myself cognitively every day by following a stringent logic and getting my results within a short period of time of compilation.
                </p>
                <p class="mrg-bottom">
                    If you aim to get a web developer, I recommend you to go on with this portfolio investigating my skills and latest projects. If you think I will be a good match for your projects, contact me!
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="about-me-childs about-me-headlines"></div>
            <div class="about-me-childs d-flex flex-column align-items-center">
                <a href="#contact"><button class="main-btn">Send a message</button></a>
            </div>
        </div>

    </div>
</div>