.about-me-bg {
    background: #F5F5F5;
    padding-block: 10rem;
}

.about-me {
    gap: 5rem;
}

.about-me-childs {
    width: 50%;
}

.adapt-line-height {
    line-height: 5rem;
}

.mrg-bottom {
    margin-bottom: 2rem;
}

@media(max-width:1024px) {
    .about-me {
        flex-direction: column;
        gap: 0;
    }
    .about-me-headlines {
        margin-top: 2rem;
    }
    .about-me-childs {
        width: unset;
    }
}