<div class="about-me-bg">
    <div class="wrapper">
        <div class="ellipse-three"></div>
        <div class="about-me d-flex justify-content-between align-items-center">
            <div class="about-me-childs about-me-headlines">
                <h1 class="adapt-line-height">from DNA</h1>
                <h1 class="adapt-line-height">to JS code</h1>
            </div>
            <div class="about-me-childs d-flex flex-column align-items-center">
                <p class="">
                    From my molecular biological background I am a lateral entrant into frontend development. With DNA as a code to get transcribed and translated into proteins I can clearly say that I am not only into understanding code but also engineering it.
                </p>
                <p>
                    I want to dig deep into JavaScript and TypeScript Code and enjoy implementing new features into projects. Furthermore, I like to put everything together into a good user experienced program by helping designers to bring their designs into the webapp.
                    My aim is to continue my developer career with a job as a junior web developer.
                </p>
                <p class="mrg-bottom">
                    If your aim is to get a web developer I recommend you to go on with this portfolio investigating my skills and latest projects. If you think I will be a good match for your projects, contact me!
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="about-me-childs about-me-headlines"></div>
            <div class="about-me-childs d-flex flex-column align-items-center">
                <a href="#contact"><button class="main-btn">Send a message</button></a>
            </div>
        </div>
    </div>
</div>