<div class="about-me wrapper">
    <div class="ellipse-three"></div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="about-me-childs about-me-headlines">
            <h1 class="set-small-mrg">From DNA</h1>
            <h1>to JS code</h1>
        </div>
        <div class="about-me-childs d-flex flex-column align-items-center">
            <p class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nesciunt facere sed cupiditate pariatur ipsum fugiat in distinctio earum eveniet. Quae consectetur, beatae fuga necessitatibus voluptate officia non voluptatibus deleniti.
            </p>
            <p class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nesciunt facere sed cupiditate pariatur ipsum fugiat in distinctio earum eveniet. Quae consectetur, beatae fuga necessitatibus voluptate officia non voluptatibus deleniti.
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="about-me-childs about-me-headlines"></div>
        <div class="about-me-childs d-flex flex-column align-items-center">
            <a href=""><button class="go-to-contact">Send a message</button></a>
        </div>
    </div>
</div>