.start {
    min-height: 100vh;
}

.start-container {
    justify-content: flex-end;
    height: 100vh;
}

.photo {
    display: block;
    background: none;
    transform: scaleX(-1);
    height: 85vh;
    position: absolute;
    bottom: 0;
    left: 0;
}

.start-content {
    margin-top: 25vh;
}

.introduction {
    margin-bottom: 10px;
}

.advices {
    height: 100%;
    width: 100%;
}

.scroll-advice {
    margin-top: calc(4rem + 1vh);
    font-family: 'Montserrat';
    color: #5988FF;
    width: 100%;
    h3 {
        font-size: calc(1.5rem + 1vh);
    }
    a {
        color: unset;
        text-decoration: none;
    }
}

.divider {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.start-links {
    align-items: flex-end;
    justify-content: center;
    border-left: 1px solid #5988FF;
    gap: 2.5rem;
    img {
        width: calc(30px + 0.5vh);
        height: calc(30px + 0.5vh);
    }
}

.svg-link {
    transform: translateX(0);
    transition: all ease-in-out 125ms;
    &:hover {
        transform: translateX(-10px);
        transition: all ease-in-out 125ms;
        cursor: pointer;
    }
}

// @media(max-width:1740px) {
//     .developer {
//         font-size: calc(5.5rem + 1vh);
//     }
// }
// @media(max-width: 1560px) and (max-aspect-ratio: 135 / 100) {
//     .photo {
//         height: 60vh;
//     }
//     .start-container {
//         justify-content: center;
//         h2 {
//             color: white;
//         }
//     }
//     .frontend,
//     .developer {
//         color: white;
//     }
//     .scroll-advice {
//         a {
//             color: white;
//         }
//     }
//     .start-links {
//         border-color: #81a5ff;
//         a {
//             position: absolute;
//             right: 5vw;
//         }
//     }
//     .svg-link1 {
//         margin-bottom: 10rem;
//     }
//     .start-content {
//         margin-top: 15vh;
//     }
// }
// @media(max-width:1200px) {
//     .advices {
//         display: none;
//     }
// }
// @media(max-width:540px),
// (max-height:600px) {
//     .start-container {
//         h2 {
//             font-size: calc(2rem + 0.5vh);
//         }
//     }
//     .frontend {
//         font-size: calc(4rem + 1vh);
//     }
//     .developer {
//         font-size: calc(3.7rem + 1vh);
//     }
// }
// @media(max-width:440px),
// (max-height:440px) {
//     .start-container {
//         h2 {
//             font-size: calc(1.5rem + 0.5vh);
//         }
//     }
//     .frontend {
//         font-size: calc(3rem + 1vh);
//     }
//     .developer {
//         font-size: calc(2.7rem + 1vh);
//     }
// }
// @media(max-height: 660px) {
//     .advices {
//         display: none;
//     }
// }
// @media(max-height:440px) and (orientation:landscape) {
//     .photo {
//         height: 75vh;
//     }
// }
.gradient-background {
    min-height: 100vh;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
    >* {
        width: 50%;
    }
}

.ellipse-img {
    position: absolute;
    bottom: 100px;
    right: 0;
    height: 100%;
}

.inside-ell-one {
    display: none;
    margin-top: 100px;
    h1,
    h2 {
        color: white;
    }
}

.greeting-container {
    margin-top: 25vh;
    margin-left: 4rem;
}

.developer {
    font-size: calc(7.5rem + 1vh);
}

@media(max-width:1740px) {
    .developer {
        font-size: calc(5.5rem + 1vh);
    }
}

@media(max-width:1280px) {
    .photo {
        height: 70vh;
    }
}

@media(max-width:1024px) {
    .greeting-container {
        h2 {
            font-size: 2.5rem;
        }
    }
    .frontend {
        font-size: 5rem;
    }
    .developer {
        font-size: 4.7rem;
    }
    .photo {
        height: 50vh;
    }
}

@media(max-height:540px) {
    .scroll-advice {
        display: none;
    }
}

@media(max-width:440px) {
    .developer {
        font-size: 3.75rem;
    }
}