<!-- <div class="start wrapper-right">
    <div class="gradient-background"></div>
    <div class="ellipse-one">
    </div>
    <div class="ellipse-two"></div>
    <div class="start-container d-flex justify-content-between">
        <img class="photo" src="assets/img/rk.png">
        <div class="start-content d-flex flex-column">
            <div class="greeting">
                <h2 class="introduction d-flex">Hello! I am Raphael</h2>
                <h1 class="frontend">FRONTEND</h1>
                <h1 class="developer">DEVELOPER</h1>
            </div>
            <div class="advices d-flex">
                <div class="scroll-advice d-flex flex-column align-items-center">
                    <h3><a href="#contact">SCROLL</a></h3>
                    <div class="divider">
                        <div></div>
                        <div class="start-links d-flex flex-column">
                            <a class="svg-link svg-link1" href="https://github.com/RaphaelKono" target="_blank" rel="noopener noreferrer"><img src="assets/svg/gitlink.svg"></a>
                            <a class="svg-link" href="#contact"><img src="assets/svg/contact.svg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="relative">
    <div class="gradient-background d-flex justify-content-between">
        <div class="ellipse-container relative">
            <img src="assets/svg/ellipse.svg" class="ellipse-img">
            <div class="greeting inside-ell-one wrapper-left">
                <h2 class="introduction d-flex">Hello! I am Raphael</h2>
                <h1 class="frontend">FRONTEND</h1>
                <h1 class="developer">DEVELOPER</h1>
            </div>
            <img class="photo" src="assets/img/rk.png">
        </div>
        <div class="greeting-container d-flex flex-column wrapper-right">
            <div class="greeting">
                <h2 class="introduction d-flex">Hello! I am Raphael</h2>
                <h1 class="frontend">FRONTEND</h1>
                <h1 class="developer">DEVELOPER</h1>
            </div>
            <div class="advices d-flex">
                <div class="scroll-advice d-flex flex-column align-items-center">
                    <h3><a href="#contact">SCROLL</a></h3>
                    <div class="divider">
                        <div></div>
                        <div class="start-links d-flex flex-column">
                            <a class="svg-link svg-link1" href="https://github.com/RaphaelKono" target="_blank" rel="noopener noreferrer"><img src="assets/svg/gitlink.svg"></a>
                            <a class="svg-link" href="#contact"><img src="assets/svg/contact.svg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="ellipse-two"></div>
</div>