.start {
    min-height: 100vh;
}

.photo {
    display: block;
    transform: scaleX(-1) translateX(1px);
    height: 85vh;
    width: 58vh;
}

.start-content {
    margin-top: 25vh;
}

.introduction {
    margin-bottom: 10px;
}

.advices {
    height: 100%;
    width: 100%;
}

.scroll-advice {
    margin-top: calc(4rem + 1vh);
    font-family: 'Montserrat';
    color: #5988FF;
    width: 100%;
    h3 {
        font-size: calc(1.5rem + 1vh);
    }
    a {
        color: unset;
        text-decoration: none;
    }
}

.divider {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.start-links {
    align-items: flex-end;
    justify-content: center;
    border-left: 1px solid #5988FF;
    gap: 2.5rem;
    img {
        width: calc(30px + 0.5vh);
        height: calc(30px + 0.5vh);
    }
}

.svg-link {
    transform: translateX(0);
    transition: all ease-in-out 125ms;
    &:hover {
        transform: translateX(-10px);
        transition: all ease-in-out 125ms;
        cursor: pointer;
    }
}

.start-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    >* {
        width: 50%;
    }
    z-index:0;
}

.light-gradient {
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
}

.ellipse-img {
    position: absolute;
    bottom: 100px;
    right: 0;
    height: 100%;
    z-index: -1;
}

.inside-ell-one {
    display: none;
    margin-bottom: 4rem;
    h1,
    h2 {
        color: white;
    }
}

.greeting-container {
    margin-top: 25vh;
    margin-left: 4rem;
}

.developer {
    font-size: calc(6.5rem + .5vmin);
}

@media(max-width:1740px) {
    .developer {
        font-size: calc(5.5rem + 1vh);
    }
}

@media(max-width:1280px) {
    .photo {
        height: 70vh;
        width: 50vh;
    }
}

@media(max-width:1024px) {
    .greeting {
        h2 {
            font-size: 2.5rem;
        }
    }
    .frontend {
        font-size: 5rem;
    }
    .developer {
        font-size: 4.7rem;
    }
    .photo {
        height: 50vh;
        width: 35vh;
    }
}

@media(max-width: 768px) {
    .greeting {
        h2 {
            font-size: 2rem;
        }
    }
    .frontend {
        font-size: 4rem;
    }
    .developer {
        font-size: 3.7rem;
    }
    .greeting-container {
        margin-left: 2rem;
    }
}

@media(max-height:640px) {
    .scroll-advice {
        display: none;
    }
}

@media(max-width:440px) {
    .developer {
        font-size: 3.75rem;
    }
}

@media(max-aspect-ratio: 68/100) {
    .inside-ell-one {
        display: unset;
    }
    .greeting-container {
        display: none;
    }
    .start-container {
        >* {
            width: 100%;
        }
    }
}

@media(min-aspect-ratio: 184/100) {
    .ellipse-img {
        bottom: 5vh;
        height: 200%;
    }
}

@media(min-aspect-ratio: 36/10) {
    .ellipse-img {
        bottom: -20%;
        height: 250%;
    }
}

@media(max-aspect-ratio: 39/100) and (max-width:460px) {
    .photo {
        transform: translateX(-10%) scaleX(-1);
    }
    .ellipse-container {
        overflow: hidden;
    }
    .logo-img {
        background: #4776fb;
    }
}