@import "../../assets/css/colors.scss";
.contact-container {
    background: linear-gradient(179.99deg, $white-color 12.89%, #EAF0FF 91.39%);
    padding-block: 10rem;
    h1 {
        margin-bottom: 8rem;
    }
    h2 {
        font-size: 2rem;
    }
}

.say-hello {
    width: fit-content;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
}

.blue {
    color: $blue-color;
}

.textarea-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: .5rem;
    margin-right: .5rem;
}

.input-icon {
    margin-right: .5rem;
}

mat-label {
    font-family: 'Poppins';
    font-size: 1rem;
    color: black;
}

.form-field {
    font-family: 'Poppins';
}

mat-error {
    font-family: 'Poppins';
}

mat-form-field {
    margin-bottom: 1.2rem;
}

textarea {
    min-height: 202px;
}

.animate-contact-icon {
    animation: appearIcon 250ms ease-in-out;
}

@keyframes appearIcon {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}

.back-to-top {
    animation: backToTopIn 75ms ease-in;
}

.back-to-top-img {
    background-image: url('../../assets/svg/backToTop.svg');
    transition: background-image 125ms ease-in-out;
    &:hover {
        background-image: url('../../assets/svg/backToTopHover.svg');
        transition: background-image 125ms ease-in-out;
    }
}

@keyframes backToTopIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media(max-width:1024px) {
    .contact-grid {
        display: unset;
    }
    .contact-container {
        overflow: hidden;
    }
}