@import "../../assets/css/colors.scss";
.contact-container {
    background-color: $white-color;
    padding-block: 10rem;
    h1 {
        margin-bottom: 8rem;
    }
    h2 {
        font-size: 2rem;
    }
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
}

.blue {
    color: $blue-color;
}

.textarea-icon {
    position: absolute;
    top: -20px;
    right: 0px;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: $blue-color !important;
}

.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
    border-top-left-radius: 30px !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: var(--mdc-shape-small, 4px);
}