.mat-h3,
.mat-subtitle-1,
.mat-typography .mat-h3,
.mat-typography .mat-subtitle-1,
.mat-typography h3,
.mat-typography,
.mat-h2,
.mat-headline-6,
.mat-typography .mat-h2,
.mat-typography .mat-headline-6,
.mat-typography h2,
.mat-h1,
.mat-headline-5,
.mat-typography .mat-h1,
.mat-typography .mat-headline-5,
.mat-typography h1 {
    font: unset;
    letter-spacing: unset;
}

h1,
.mat-h1,
.mat-headline-5,
.mat-typography .mat-h1,
.mat-typography .mat-headline-5,
.mat-typography h1 {
    font-family: 'Baloo 2';
    font-size: calc(8rem + 1vh);
    font-weight: 700;
    color: $blue-color;
    line-height: 0.65;
}

h2,
.mat-h2,
.mat-headline-6,
.mat-typography .mat-h2,
.mat-typography .mat-headline-6,
.mat-typography h2 {
    font-family: 'Montserrat';
    font-size: calc(4rem + .5vh);
    color: $blue-color;
}

h3,
.mat-h3,
.mat-subtitle-1,
.mat-typography .mat-h3,
.mat-typography .mat-subtitle-1,
.mat-typography h3 {
    color: $blue-color;
    font-family: 'Montserrat';
    font-size: 2rem;
}

.mat-body p,
.mat-body-2 p,
.mat-typography .mat-body p,
.mat-typography .mat-body-2 p,
.mat-typography p {
    font-family: 'Montserrat';
    font-size: calc(1.5rem + .15vh);
    margin: unset;
    margin-block-start: .75em;
    margin-block-end: .75em;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: $blue-color !important;
}

.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px !important;
}

.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
    border-top-left-radius: 0;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 0;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 16px;
    padding-bottom: 7px;
}

.mdc-text-field--outlined .mdc-notched-outline {
    z-index: -1 !important;
    background: white;
    border-radius: 10px;
}

::-webkit-resizer {
    background: url('../../assets/svg/grabber.svg') no-repeat;
}

.mat-drawer-container {
    background-color: unset;
}

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(255, 255, 255, .6);
}

.mat-drawer-content {
    overflow: hidden !important;
}

@media(max-width:1740px) {
    h2,
    .mat-h2,
    .mat-headline-6,
    .mat-typography .mat-h2,
    .mat-typography .mat-headline-6,
    .mat-typography h2 {
        font-size: calc(3rem + .5vh);
    }
    h1,
    .mat-h1,
    .mat-headline-5,
    .mat-typography .mat-h1,
    .mat-typography .mat-headline-5,
    .mat-typography h1 {
        font-size: calc(6rem + 1vh);
    }
}

@media(max-width:440px) {
    h1,
    .mat-h1,
    .mat-headline-5,
    .mat-typography .mat-h1,
    .mat-typography .mat-headline-5,
    .mat-typography h1 {
        font-family: 'Baloo 2';
        font-size: 4rem;
        font-weight: 700;
        color: $blue-color;
        line-height: 0.65;
    }
}