.ellipse {
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, $blue-color 6.25%, $blue-color 51.56%, #0043F0 100%);
    border-radius: 100%;
    position: absolute;
}

.ellipse-one {
    @extend .ellipse;
    z-index: -1;
    height: 87vmin;
    width: 87vmin;
    top: -15vmin;
    left: -15vmin;
}

.ellipse-two {
    @extend .ellipse;
    z-index: 1;
    width: calc(220px + 1vh);
    height: calc(220px + 1vh);
    bottom: calc(-20vmin/2);
    left: calc(50% - 20vmin/2);
}

.ellipse-three {
    @extend .ellipse;
    width: calc(90px + 1vh);
    height: calc(90px + 1vh);
    top: 3.5rem;
    right: 25vw;
}

.ellipse-four {
    @extend .ellipse;
    width: 107px;
    height: 107px;
    top: -1rem;
    left: 37rem;
}

.ellipse-five {
    @extend .ellipse;
    width: 183px;
    height: 183px;
    top: -6rem;
    left: 80rem;
}

.ellipse-six {
    @extend .ellipse;
    width: 393px;
    height: 393px;
    top: 10rem;
    left: -18rem;
}

.ellipse-seven {
    @extend .ellipse;
    width: 652px;
    height: 652px;
    top: -2rem;
    left: 16rem;
}

.ellipse-eight {
    @extend .ellipse;
    width: 237px;
    height: 237px;
    top: 18rem;
    left: 3rem;
}

.ellipse-nine {
    @extend .ellipse;
    width: 51px;
    height: 51px;
    top: 26rem;
    left: -2rem;
}

.ellipse-ten {
    @extend .ellipse;
    width: 98px;
    height: 98px;
    top: 26rem;
    left: 37rem;
}

.ellipse-11 {
    @extend .ellipse;
    width: 130px;
    height: 130px;
    top: -10rem;
    left: 25vw;
}

.ellipse-12 {
    @extend .ellipse;
    width: 204px;
    height: 204px;
    bottom: -8rem;
    left: 14vw;
}

.ellipse-13 {
    @extend .ellipse;
    width: 74px;
    height: 74px;
    bottom: -14rem;
    right: 0;
}

@media(max-width: 1560px) and (min-height: 1280px) {
    .ellipse-one {
        z-index: -1;
        height: 120vmin;
        width: 120vmin;
        top: -34vmin;
        left: -30vmin;
    }
}