<div class="skill-container">
    <div class="wrapper vertical-spacing">
        <h1 class="txt-center">Skill set</h1>
        <ul class="skills">
            <li class="d-flex flex-column align-items-center justify-content-center"><object data="assets/svg/angular.svg"></object>
                <p>Angular</p>
            </li>
            <li class="d-flex flex-column align-items-center justify-content-center"><object data="assets/svg/typescript.svg" type=""></object>
                <p>TypeScript</p>
            </li>
            <li class="d-flex flex-column align-items-center justify-content-center"><object data="assets/svg/javascript.svg" type=""></object>
                <p>JavaScript</p>
            </li>
            <li class="d-flex flex-column align-items-center justify-content-center"><object data="assets/svg/html.svg" type=""></object>
                <p>HTML</p>
            </li>
            <li class="d-flex flex-column align-items-center justify-content-center"><object data="assets/svg/scrum.svg" type=""></object>
                <p>Scrum</p>
            </li>
            <li class="d-flex flex-column align-items-center justify-content-center"><object data="assets/svg/firebase.svg" type=""></object>
                <p>Firebase</p>
            </li>
            <li class="d-flex flex-column align-items-center justify-content-center"><object data="assets/svg/git.svg" type=""></object>
                <p>GIT</p>
            </li>
            <li class="d-flex flex-column align-items-center justify-content-center"><object data="assets/svg/css.svg" type=""></object>
                <p>CSS</p>
            </li>
            <li class="d-flex flex-column align-items-center justify-content-center"><object data="assets/svg/api.svg" type=""></object>
                <p>Rest-Api</p>
            </li>
            <li class="d-flex flex-column align-items-center justify-content-center"><object data="assets/svg/material-design.svg" type=""></object>
                <p>Material Design</p>
            </li>
        </ul>
    </div>
</div>