.skill-container {
    background: linear-gradient(128.94deg, #5988FF -33.96%, #5988FF 36.71%, #0043F0 112.25%);
    color: white;
    h1 {
        color: white;
        margin: 0;
        padding: 0;
        line-height: 6.5rem;
        margin-bottom: 5rem;
    }
}

.vertical-spacing {
    padding-block: 10rem;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 4rem;
    li {
        font-family: 'Montserrat';
        gap: 1rem;
        margin-top: 3rem;
        object {
            transform: translate3d(0, 0, 0);
            transition: all 125ms ease-in-out;
        }
        &:hover {
            object {
                transform: translate3d(4px, -10px, 0);
                transition: all ease-in-out 125ms;
            }
            font-weight: 700;
        }
        p {
            text-align: center;
        }
    }
}

@media(max-width: 1000px) {
    .skills {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width: 780px) {
    .skills {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        margin-top: 3rem;
        object {
            width: 50px;
        }
    }
}

@media(max-width:440px) {
    .skills {
        gap: .5rem;
        object {
            width: 40px;
            height: 40px;
        }
        p {
            font-size: 1.2rem;
        }
    }
}