/* You can add global styles to this file, and also import other style files */

@import "assets/css/colors.scss";
@import "assets/css/adapt-md.scss";
@import "assets/css/general.scss";
@import "assets/css/main-btn.scss";
@import "assets/css/ellipses.scss";
html,
body {
    font-size: 16px;
    margin: 0;
    scroll-behavior: smooth;
}

.logo {
    border: unset;
    background-color: unset;
    padding: unset;
    z-index: 1;
}

.logo-img {
    width: 75px;
    height: 64px;
    display: block;
}

@media(max-width: 1560px) and (min-height: 1280px) {}

@media(max-width: 1200px),
(max-height: 420px) {
    html,
    body {
        font-size: 13px;
    }
}

@media(max-width: 440px) {
    html,
    body {
        font-size: 12px;
    }
}